@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section style="background-color:green;">
    <div class="div-line" style="background-color:gray">
        alo
        <p>test</p>
    </div>
</section>

