@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="div-background Background-1 div-height-1page" style="padding-top:10vh;">
        <img class="LogoAcceuil" src="~/images/LogoPoele.png" />
        <p class="TitreSection">
            Food Dynasty
        </p>
        <div style="height:55vh;"></div>
        <div>
            <a href="https://www.facebook.com/marius.saurel/" target="_blank">
                <img class="PetitLogoAcceuil" src="~/images/LogoFacebook.webp" />
            </a>
        </div>

    </div>
    <a name="Services"></a>
    <div class="div-line">
        <div class="div-background Background-2" style="padding-bottom: 5vh; padding-top: 5vh;">
            <p class="TitreSection">SERVICES</p>
            <table style="width:100vw">
                <tr style="width:100vw">
                    <th width="33%">
                        <p class="SousTitreSection" style="color:white;">RÉPARATION</p>
                    </th>
                    <th width="33%">
                        <p class="SousTitreSection" style="color:white;">REVÊTEMENT</p>
                    </th>
                    <th width="33%">
                        <p class="SousTitreSection" style="color:white;">PEINTURE</p>
                    </th>
                </tr>

                <tr>
                    <th width="33%">
                        <p class="p-Columnitem">Service de réparation de carrosserie, travaux de mécanique</p>
                    </th>
                    <th width="33%">
                        <p class="p-Columnitem">Revêtement intérieur, moquettes acoustiques et accessoires automobiles</p>
                    </th>
                    <th width="33%">
                        <p class="p-Columnitem">Service d'entretien et de peinture pour carrosserie et jantes. Choix de teintes métallisées</p>
                    </th>
                </tr>
            </table>
        </div>

    </div>

    <a name="Projets"></a>
    <div class="div-line">
        <div class="div-background" style="height:auto; padding-bottom:10vh; padding-top:10vh;">
            <p class="TitreSection" style="color:black;">Projets</p>
            <p class="SousTitreSection">Des burgers élaborés avec amour</p>
            <table style="width:90vw;height:80vh; margin-left:5vw; margin-right:5vw;">
                <tr style="width:100%;height:40vh">
                    <th width="25%" height="100%" style="background-image: url('../images/burger1.jpg'); background-size:cover;">
                    </th>
                    <th width="25%" style="background-image: url('../images/burger2.jpg'); background-size:cover;">
                    </th>
                    <th width="25%" style="background-image: url('../images/burger3.jpg'); background-size:cover;">
                    </th>
                </tr>

                <tr style="width:100%;height:40vh">
                    <th width="25%" style="background-image: url('../images/burger4.jpeg'); background-size:cover;">
                    </th>
                    <th width="25%" style="background-image: url('../images/burger5.jpg'); background-size:cover;">
                    </th>
                    <th width="25%" style="background-image: url('../images/burger6.jpg'); background-size:cover;">
                    </th>
                </tr>
            </table>
        </div>

    </div>

    <a name="Histoire"></a>
    <div class="div-line">
        <div class="div-background" style="background-image: url('../images/BackGroundGrey.webp');padding-bottom: 5vh; padding-top: 5vh;">
            <div class="box-inside" style="background-color:white;padding-bottom:5vh;padding-top:5vh;">
                <p class="TitreSection" style="color: #2F2E2E;">HISTOIRE</p>
                <p style="line-height:1.4em;text-align:center;color: #2F2E2E; padding-left:2vw; padding-right:2vw;">
                    Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez ici pour ajouter votre contenu et personnaliser les polices. Déplacez-moi où vous le souhaitez sur votre page. Expliquez ici votre parcours et présentez votre activité à vos visiteurs.
                </p>

                <p style="line-height:1.4em;text-align:center;color: #2F2E2E; padding-left:2vw; padding-right:2vw;">
                    Présentez votre entreprise, vos services et vos équipes. Utilisez cet espace pour décrire votre activité. Présentez votre équipe et les services proposés. Expliquez à vos visiteurs vos motivations, vos objectifs et soulignez vos avantages par rapport à vos concurrents. Démarquez-vous et captivez l'attention de vos visiteurs.
                </p>
            </div>

        </div>
    </div>

    <div class="div-line">
        <div class="div-background Background-3" style="height:50vh;">

        </div>
    </div>

    <a name="Contact"></a>
    <div class="div-line">
        <div class="div-background" style="background-image: url('../images/BackGroundGrey.webp'); padding-top: 5vh;">
            <div class="box-inside" style="background-color:white;padding-bottom:5vh;padding-top:5vh;">
                <p class="TitreSection" style="color: #2F2E2E;">NOUS CONTACTER</p>
                
                <table style="width:90vw;height:80vh; margin-left:5vw; margin-right:5vw;">
                    <tr style="width:90vw;height:80vh">
                        <th width="50%" height="100%">
                            <p class="SousTitreSection" style="color: #2F2E2E;">TELEPHONE</p>
                        </th>
                        <th width="50%" height="100%">
                            <p class="SousTitreSection" style="color: #2F2E2E;">0760076196</p>
                        </th>
                    </tr>

                    <tr style="width:100%;height:40vh">
                        <th width="50%" height="100%">

                        </th>
                        <th width="50%" height="100%">

                        </th>
                    </tr>
                </table>
                
                
                <p style="line-height:1.4em;text-align:center;color: #2F2E2E; padding-left:2vw; padding-right:2vw;">
                    Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez ici pour ajouter votre contenu et personnaliser les polices. Déplacez-moi où vous le souhaitez sur votre page. Expliquez ici votre parcours et présentez votre activité à vos visiteurs.
                </p>

                <p style="line-height:1.4em;text-align:center;color: #2F2E2E; padding-left:2vw; padding-right:2vw;">
                    Présentez votre entreprise, vos services et vos équipes. Utilisez cet espace pour décrire votre activité. Présentez votre équipe et les services proposés. Expliquez à vos visiteurs vos motivations, vos objectifs et soulignez vos avantages par rapport à vos concurrents. Démarquez-vous et captivez l'attention de vos visiteurs.
                </p>
            </div>

        </div>
    </div>

</div>





